*{
    margin: 0;
    padding: 0;
}

.mycontainer{
    /* background-color: aqua; */
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.mycontainer img{
    height: 100px;
}

.mycontainer input{
    background-color: #ecedef;
    width: 70%;
    padding: 10px;
    border-radius: 20px;
    border: none;
}

.input-div{
    width: 78%;
}

.mycontainer input:hover{
    background-color: #d2d7e2;
}

.mycontainer .icons{
    display: flex;
    gap: 15px;
    margin-right: 20px;
}

.list ul{
    display: flex;
    gap: 20px;
    list-style: none;
    margin-left: 160px;
}

.timer-box{
    background-color: #e5edff;
    height: 100%;
    width: 50%;
    margin-left: 190px;
    border-radius: 20px;
}

.timebtn{
    background-color: #e5edff;
    border: none;
    border-radius: 20px;
    padding: 5px;
    width: 15%;
    margin: 8px;
}
.timebtn:hover{
    background-color: #9eb5e4;
}

.stopbtn{
    background-color: #a3c5ff;
    border: none;
    border-radius: 20px;
    padding: 5px;
    width: 25%;
    margin: 8px;
}

.playbtn{
    background-color: #0b57d0;
    border: none;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    width: 50%;
}

.play-pause{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-input .stopwatch{
    background-color: #e5edff;
    border: none;
    height: 300px;
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    position: relative;
}

.box-input .timer-box{
    background-color: #e5edff;
    height: 150px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 39%;
}

/* .timer-button button{
    background-color: #c7d3ee;
    border: none;
    border-radius: 20px;
    padding: 7px;
    margin: 8px;
}

.timer{
    border: none;
    outline: none;
    background-color: #e5edff;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    width: 150px;
} */